html{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 60px;
}
nav{
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 9999;
    
}
.menu-nav{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
/* .menu-nav:first-child{
    margin-right: 100px;
} */
.call-to-action{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
}
.infor-call{
    width: 50%;
}